@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.courses-container {
  padding: 35px 0px 90px 0;
  background-color: #f5f5f5;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  overflow: hidden;
}

.courses-container:before {
  position: absolute;
  content: '';
  top: 50px;
  right: 35px;
  width: 50px;
  height: 50px;
  background-color: #8072e6;
  clip-path: circle(36.1% at 50% 50%);

  animation: showCircleRight 1.8s;
}

.courses-container:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 400px;
  height: 300px;
  background-color: #8072e6;
  clip-path: circle(50% at 7% 89%);

  animation: showCircleLeft 1.8s;
}

.courses-container a {
  text-decoration: none;
  width: 250px;
  height: 40px;
  background-color: #8072e6;
  padding: 10px;
  border-radius: 3px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: showBtn 1.2s;
}

.courses-container a .btn {
  margin: 50px;
}

.courses-list {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  animation: showUp 1.2s;
}

li {
  list-style: none;
}

.courses-content {
  border: 1px solid rgba(148, 148, 148, 0.486);
  width: 290px;
  height: 110px;
  padding: 30px 20px;
  border-radius: 7px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 15px 2px rgba(148, 148, 148, 0.308);
  transition: background-color .3s;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-content:hover {
  background-color: #fff;
}

.courses-content button {
  position: absolute;
  bottom: 3px;
  left: 7px;

  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.courses-content h3 {
  font-weight: 400;
  text-transform: capitalize;
}

.courses-list li {
  position: relative;
}

.courses-list li:after {
  position: absolute;
  content: '';
  bottom: 4px;
  right: 0;
  width: 40px;
  height: 30px;
  background-color: #8072e6;
  border-radius: 25px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 0px;
}

@keyframes showUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showBtn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showCircleLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showCircleRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


@media only screen and (max-width: 1260px) {
  .courses-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 970px) {
  .courses-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .courses-container:before {
    right: 25px;
    width: 35px;
    height: 35px;
  }

  .courses-container:after {
    width: 220px;
    height: 110px;
  }

  .courses-container a {
    width: 200px;
  }
}
