@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.users-container {
  padding: 30px 0 70px 0;
  background-color: #f5f5f5;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  overflow: hidden;
}

.users-container:before {
  position: absolute;
  content: '';
  top: 60px;
  left: 50px;
  width: 80px;
  height: 80px;
  background-color: #8072e6;
  clip-path: circle(36.1% at 50% 50%);

  animation: showCircleLeft 1.8s;
}

.users-container:after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 400px;
  height: 300px;
  background-color: #8072e6;
  clip-path: circle(36.1% at 92% 87%);

  animation: showCircleRight 1.8s;
}

.users-container h2 {
  font-size: 28px;
  font-weight: 400;
}

.list-users {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  animation: showUp 1.2s;
}

li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.801);
}

.user-content {
  border: 1px solid rgb(197, 197, 197);
  width: 300px;
  height: 320px;
  padding: 30px 0 10px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 2px #0000001a;
  background-color: #f5f5f5;
  position: relative;
  transition: background-color .3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.user-content:after {
  position: absolute;
  content: '';
  top: 0;
  left: 5px;
  width: 30px;
  height: 33px;
  background-color: #8072e6;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: height .4s;
}

.user-content:hover:after {
  height: 50px;
}

.user-content button {
  position: absolute;
  top: 6px;
  right: 8px;

  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.user-content .user-image {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  overflow: hidden;
}

.user-content .user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-content .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.user-content .user-info span:nth-child(1) {
  font-size: 20px;
}

.user-content .user-info span:nth-child(2) {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.644);
  margin-bottom: 15px;
} 

.course-name {
  border-top: 1px solid rgba(0, 0, 0, 0.432);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-name span {
  margin-top: 10px;
  text-transform: capitalize;
}

@keyframes showUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showCircle {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showCircleLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showCircleRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1260px) {
  .list-users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 970px) {
  .list-users {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .users-container:after {
    width: 280px;
    height: 170px;
  }
}